<% provide(:title, 'All users') %>
<h1>All users</h1>

<!-- <input class="form-control" id="myInput" type="text" placeholder="Search..">
<%= will_paginate @users, :class => 'pager', :container => true %>
<%= page_entries_info %> -->

<%= will_paginate %>

<ul class="users">
  <% @users.each do |user| %>
    <%= render user %>
  <% end %>
</ul>

<%= will_paginate %>
